hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

#formFuncao{
  padding-left: 100px;
  padding-right:100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family:15px Arial, Helvetica, sans-serif;
}

#formFuncaoConsulta{
  padding-left: 20px;
  padding-right:20px;
  font-family:13px Arial, Helvetica, sans-serif;
}

#formPerfil{
  padding-left: 100px;
  padding-right:100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family:15px Arial, Helvetica, sans-serif;
}

.titulos{
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  color:rgb(73, 73, 73);
}
.subtitulos{
  padding-top: 3px;
  padding-bottom: 5px;
  font-weight: bold;
  font-style: italic;
  color:rgb(73, 73, 73);
}

#formContato{
  width: 90%;
  padding-left: 100px;
  padding-right:100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family:15px Arial, Helvetica, sans-serif;
}

#minhasFuncoes{
  padding-top: 50px;
  min-height: 600px;
}

#errorPage{
	padding-top:100px;
	height: 350px;
	text-align: center;
}

#search{
	padding-top:3%;
}

#divisor{
	height:150px;
}

#validationCode{
  padding-left: 30%;
  padding-top: 50px;
  font-family:15px Arial, Helvetica, sans-serif;
  height:400px;
}

#privacy{
  height: 0 auto;
  min-height: 500px;
  width: 60%;
  margin-left: 20%;
  margin-top:3%;
  margin-bottom: 7%;
  text-align: justify;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* sign in FORM */
#logreg-forms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:390px;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:190px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
  #logreg-forms{
    width:300px;
  }
  
  #logreg-forms  .social-login{
    width:200px;
    margin:0 auto;
    margin-bottom: 10px;
  }
  #logreg-forms  .social-btn{
    font-size: 1.3rem;
    font-weight: 100;
    color:white;
    width:200px;
    height: 56px;
    
  }
  #logreg-forms .social-btn:nth-child(1){
    margin-bottom: 5px;
  }
  #logreg-forms .social-btn span{
    display: none;
  }
  #logreg-forms  .facebook-btn:after{
    content:'Facebook';
  }

  #logreg-forms  .google-btn:after{
    content:'Google+';
  }  
}

#pagi{
  margin-top: 5%;
  margin-bottom: 2%;
  padding-left: 9%;
  width: 90%;
  text-align: center;
}

.posmenu{
  margin-top: 1%;
  width: 90%;
  margin-left: 5%;
}

.cookieConsentContainer{
  z-index:999;
  width:350px;
  min-height:20px;
  box-sizing:border-box;
  padding:30px 30px 30px 30px;
  background:#232323;
  overflow:hidden;
  position:fixed;
  bottom:30px;
  right:30px;
  display:none
}
.cookieConsentContainer .cookieTitle a{
  font-family:OpenSans,arial,sans-serif;
  color:#fff;
  font-size:22px;
  line-height:20px;
  display:block
}
.cookieConsentContainer .cookieDesc p{
  margin:0;
  padding:0;
  font-family:OpenSans,arial,sans-serif;
  color:#fff;
  font-size:13px;
  line-height:20px;
  display:block;
  margin-top:10px
}
.cookieConsentContainer .cookieDesc a{
  font-family:OpenSans,arial,sans-serif;
  color:#fff;
  text-decoration:underline
}
.cookieConsentContainer .cookieButton a{
  display:inline-block;
  font-family:OpenSans,arial,sans-serif;
  color:#fff;
  font-size:14px;
  font-weight:700;
  margin-top:14px;
  background:#000;
  box-sizing:border-box;padding:15px 24px;
  text-align:center;
  transition:background .3s
}
.cookieConsentContainer .cookieButton a:hover{
  cursor:pointer;
  background:#3e9b67
}
@media (max-width:980px){
  .cookieConsentContainer{
    bottom:0!important;
    left:0!important;
    width:100%!important}
}
