#texto-rodape{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    text-align: justify;
    font-size: 120%;
    color: #f2f2f2ea;
}

#form0{
    padding-top:12%;
    width:100%;
    height:600px;
    display:block;
    text-align:center;
}

#form1{
    padding-top:10%;
    width:100%;
    height:600px;
    display:none;
    text-align:center;
}

#form2{
    padding-top:10%;
    width:100%;
    height:600px;
    display:none;
    text-align:center;
}

#form3{
    padding-top:10%;
    width:100%;
    height:600px;
    display:none;
    text-align:center;
}
#form4{
    padding-top:15%;
    width:100%;
    height:600px;
    display:none;
    text-align:center;
}

#form5{
    padding-top:15%;
    width:100%;
    height:600px;
    display:none;
    text-align:center;
}

#errorPage{
	width:100%;
    height:600px;
	background-color:white;
	padding-top:15%;
	text-align:center;
}

span{
    display: inline-block; 
    padding-top:10px;
    padding-bottom:50px;
}

#formPerfil{
    padding-left: 100px;
    padding-right:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:15px Arial, Helvetica, sans-serif;
  }
  
#configurar{
	padding-left: 100px;
	padding-right:100px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height: 0 auto;
	min-height: 700px;
}
  
#finalizarPost{
	background-color:white;
    width:100%;
    height:0 auto;
    min-height:600px;
    padding-top: 200px;
	padding-left: 5%;
	padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:25px;
}

#formLogin{
    background-color:white;
    width:100%;
    height:0 auto;
    min-height:600px;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#formLogin2{
    width:60%;
    margin-left: 20%;
    margin-top: 7%;
    text-align: center;
}
.titulos{
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    color:rgb(73, 73, 73);
  }

.titulosLocal{
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
    color:rgb(73, 73, 73);
}

#aprovacoesPendentes{
    padding-top: 30px;
    min-height: 600px;
}

#usuariosCadastrados{
    padding-top: 50px;
    min-height: 600px;
    width: 80%;
    margin-left: 10%;
}

#alertaLocalViagem{
    margin-left: 25%;
    width: 50%;
    display: none;
}

#botoesStyles{
    width: 50%;
    margin-left: 25%;
}

#camposNaoInformados{
    padding-top:15%;
    width:100%;
    height:600px;
    display:none;
    text-align:center;
}

.alertaCamposNaoInformados{
    margin-left: 25%;
    width: 50%;
    font-size: 20px;
}

.alinhaEsquerda{
    text-align: left;
}

#privacy{
    height: 0 auto;
    min-height: 500px;
    width: 60%;
    margin-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: white;
  }

.buttonMargin{
    margin-left:-10px;
}

.fullWidth{
    width: 100%;
}

.litteMarginLeft{
    margin-left: 1px;
}

.naoHaRegistros{
    padding-top: 10%;
    height: 0 auto;
    min-height: 500px;
    text-align: center;
    width: 100%;
}

.cookieConsentContainer{
    z-index:999;
    width:350px;
    min-height:20px;
    box-sizing:border-box;
    padding:30px 30px 30px 30px;
    background:#232323;
    overflow:hidden;
    position:fixed;
    bottom:30px;
    right:30px;
    display:none
}

.cookieConsentContainer .cookieTitle a{
    font-family:OpenSans,arial,sans-serif;
    color:#fff;
    font-size:22px;
    line-height:20px;
    display:block
}

.cookieConsentContainer .cookieDesc p{
    margin:0;
    padding:0;
    font-family:OpenSans,arial,sans-serif;
    color:#fff;
    font-size:13px;
    line-height:20px;
    display:block;
    margin-top:10px
}
.cookieConsentContainer .cookieDesc a{
    font-family:OpenSans,arial,sans-serif;
    color:#fff;
    text-decoration:underline
}

.cookieConsentContainer .cookieButton a{
    display:inline-block;
    font-family:OpenSans,arial,sans-serif;
    color:#fff;
    font-size:14px;
    font-weight:700;
    margin-top:14px;
    background:#000;
    box-sizing:border-box;padding:15px 24px;
    text-align:center;
    transition:background .3s
}

.cookieConsentContainer .cookieButton a:hover{
    cursor:pointer;
    background:#3e9b67
}

@media (max-width:980px){
    .cookieConsentContainer{
      bottom:0!important;
      left:0!important;
      width:100%!important}
}

.espacoEntreSessoes{
    padding-top: 10%
}
  